<a id="circle-shortcut" href="{{ link }}" class="circle-shortcut--{{ modifier }}">
    <div class="text-top">{{ textTop }}</div>
    <div class="icon icon-{{ icon }}"></div>
    <div class="text-bottom">{{ textBottom }}</div>
</a>
