<section{{ attributes.addClass('block-profile') }}>
    <h2>{{ content.field_title }}</h2>
    <div class="profile">
        <div
            data-aos="fade-right"
            data-aos-duration="1500"
            class="profile__picture with-background"
        >
            {{ content.field_image }}
        </div>
        <div
            data-aos="fade-left"
            data-aos-duration="1500"
            class="profile__content"
        >
            <div class="text">
                {{ content.field_text }}
            </div>
            <div class="signing">
                {{ content.field_signing }}
            </div>
        </div>
    </div>
</section>
