<div{{ attributes.addClass('field-skills') }}>

    <div class="skill-list-wrapper">
        <div class="skill-list" data-count="{{ items|length }}">
            {% for item in items %}
            <div
                class="skill-list-item"
                data-skill-index="{{ loop.index }}"
                data-aos="zoom-in"
                data-aos-duration="1000"
                data-aos-delay="{{ 300 * loop.index0 }}"
            >
                <a
                    href="{{ path('entity.node.canonical', {'node': item.content['#node'].id()}) }}"
                    class="link-wrapper"
                >
                    {{ item }}
                    <span class="icon icon-arrow-right"></span>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="skill-detail-wrapper" data-aos="fade-up">
        <div class="skill-border"></div>
        {% for item in items %}
        <div class="skill-detail text" data-skill-index="{{ loop.index }}">
            <a href="{{ path('entity.node.canonical', {'node': item.content['#node'].id()}) }}">
                <h3>{{ item.content['#node'].getTitle() }}</h3>
                {{ item.content['#node'].field_teaser.value }}
                <span class="icon">...</span>
            </a>
        </div>
        {% endfor %}
    </div>

</div>
