<div{{ attributes.addClass('field-skills') }}>

    <div class="skill-list-wrapper">
        <div class="skill-list" data-count="{{ items|length }}">
            {% for item in items %}
            <a
                href="{{ path('entity.node.canonical', {'node': item.content['#node'].id()}) }}"
                data-skill-index="{{ loop.index }}"
                class="skill-list-item"
            >
                {{ item }}
            </a>
            {% endfor %}
        </div>
    </div>

    <div class="skill-title-wrapper">
        {% for item in items %}
        <div class="skill-title" data-skill-index="{{ loop.index }}">
            {{ item.content['#node'].getTitle() }}
        </div>
        {% endfor %}
    </div>

    <div class="skill-detail-wrapper">
        {% for item in items %}
        <div class="skill-detail" data-skill-index="{{ loop.index }}">
            {{ item.content['#node'].field_teaser.value }}
        </div>
        {% endfor %}
    </div>

    <div class="skill-button-wrapper">
        <span class="icon icon-left"></span>
        <span class="icon icon-right"></span>
    </div>

</div>
