{% set classes = [
    'contact',
    'with-background',
] %}

<div{{ attributes.addClass(classes) }}>

    {{ content.field_image }}

    <div
        data-aos="zoom-out"
        data-aos-duration="1500"
        class="contact-info"
    >
        <h1>{{ node.getTitle() }}</h1>
        <div class="phone">
            <a href="tel:{{ content.field_phone.0['#context'].value|replace({' ':'', '.': ''}) }}">
                <span class="icon icon-phone"></span>
                {{ content.field_phone }}
            </a>
        </div>
        <div class="email">
            <a href="mailto:{{ content.field_email.0['#context'].value }}">
                <span class="icon icon-email-full"></span>
                {{ content.field_email }}
            </a>
        </div>
        <div class="home">
            <a href="{{ content.field_home_link.0['#url'] }}" target="_blank">
                <span class="icon icon-home"></span>
                {{ content.field_home_address }}
            </a>
        </div>
        <div class="office">
            <a href="{{ content.field_home_link.0['#url'] }}" target="_blank">
                <span class="icon icon-office"></span>
                {{ content.field_office_address }}
            </a>
        </div>
    </div>

</div>
